@model HomeHistoryViewModel


<div>
    <img src="@Model.Home.ImageURL" alt="Home Image" width="300"/>
    <p>@Model.Home.Address @Model.Home.City, @Model.Home.State</p>
</div>
<hr />

<table>
    <tr>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Rent Price</td>
    </tr>

    @foreach (var lease in Model.Leases)
    {
        <tr>
            <td>@lease.StartDate</td>
            <td>@lease.EndDate</td>
            <td>@lease.RentPrice</td>
        </tr>
    }

</table>
